@font-face {
  font-family: 'ManyWeatz';
  src: url('../../assets/fontes/ManyWeatz.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Carlton';
  src: url('../../assets/fontes/Carlton-Std-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CutiveMono';
  src: url('../../assets/fontes/CutiveMono-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Monteryn';
  src: url('../../assets/fontes/Monteryn.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}